.zeta-menu-bar {
    background: rgb(218, 218, 218);
    display: inline-block;
    width: 100%;
  }
  .zeta-menu { margin: 0; padding: 0;}
  .zeta-menu li {
    float: left;
    list-style:none;
    position: relative;
  }
  .zeta-menu li:hover { background: rgb(89, 131, 248); }
  .zeta-menu li:hover>a { color: rgb(255, 255, 255);  }
  .zeta-menu a {
    color: rgb(5, 0, 54);
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
  .zeta-menu ul {
    background: #eee;
    border: 1px solid silver;
    display: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100%;
    width: 180px;
    z-index: 9999999;
  }
  .zeta-menu ul li { float: none; }
  .zeta-menu ul li:hover { background: #ddd; }
  .zeta-menu ul li:hover a { color: black; }
  .zeta-menu ul a { color: black; }
  .zeta-menu ul ul { left: 100%; top: 0; }
  .zeta-menu ul ul li {float:left; margin-right:10px;}